<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Your Trip - The Trip Planner</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id = "brand-logo" href = "#" class = "brand-logo">J2</a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <h1 class="header col s12 light">Here are the hotels:</h1>
      </div>
      <br><br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col s12 m4">
          <div class="center">
            <img src = "temp.jpg" width = "200" height = "200">
            <br><br><br>
            <h5 class="center">Hotel #1</h5>
            <br><br><br>
            <h5 class="center">A nice and friendly hotel located in the middle of the suburbs where dogs roam around and people exercise.</h5>
            <br><br><br>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="center">
            <img src = "temp.jpg" width = "200" height = "200">
            <br><br><br>
            <h5 class="center">Hotel #2</h5>
            <br><br><br>
            <h5 class="center">A nice and friendly hotel located in the middle of the suburbs where dogs roam around and people exercise.</h5>
            <br><br><br>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="center">
            <img src = "temp.jpg" width = "200" height = "200">
            <br><br><br>
            <h5 class="center">Hotel #3</h5>
            <br><br><br>
            <h5 class="center">A nice and friendly hotel located in the middle of the suburbs where dogs roam around and people exercise.</h5>
            <br><br><br><br><br><br>
          </div>
        </div>

      </div>
    </div>
  </div>


  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project and further improvements so as comments would be helpful. There are flaws and upcoming improvements to make this website a better exprience.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Creators</h5>
          <ul>
            <li><a class="white-text" href="#!">Josh</a></li>
            <li><a class="white-text" href="#!">Sathya</a></li>
            <li><a class="white-text" href="#!">Athisa</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">MLH</a></li>
            <li><a class="white-text" href="#!">Devpost</a></li>
            <li><a class="white-text" href="#!">Github</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="orange-text text-lighten-3"></a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/calculate.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzHGKHl75gHvXEtXiGckmonfP0-00Iwow&libraries=places&callback=initAutocomplete"
      async defer></script>
  </body>
</html>
