<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Jalan2 - The Trip Planner</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id = "brand-logo" href = "#" class = "brand-logo">J2</a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center light-blue-text">Jalan2</h1>
      <div class="row center">
        <h5 class="header col s12 light">A trip planner to help you make the most memorable memories!</h5>
      </div>
      <br><br><br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col s12 m6">
          <div class="input-block">
            <h5 class="center">Date Start</h5>
              <input type="text" class="datepicker" id = "startDate">
              <label for="startDate"></label>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="input-block">
            <h5 class="center">Date End</h5>
              <input type="text" class="datepicker" id = "endDate">
              <label for="endDate"></label>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col s12">
          <div class="input-block">
            <h5 class="center">Budget</h5>
                <input type="number" min = "0" class="validate" />
                <label for="Number"></label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col s12 ">
          <div class="input-block">
            <h5 class="center">Country</h5>
            <input id="autocomplete" onFocus="geolocate()" type="text">
            <label for="autocomplete-input"></label>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class = "section no-pad-bot">
    <div class = "container">
      <div class="row center">
        <a href = "#" id="start-button" class="btn-large waves-effect waves-light light-blue" onclick = "saveButton()">Start!</a>
      </div>
    </div>
    <br><br><br><br>
  </div>

  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project and further improvements so as comments would be helpful. There are flaws and upcoming improvements to make this website a better exprience.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Creators</h5>
          <ul>
            <li><a class="white-text" href="#!">Josh</a></li>
            <li><a class="white-text" href="#!">Sathya</a></li>
            <li><a class="white-text" href="#!">Athisa</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">MLH</a></li>
            <li><a class="white-text" href="#!">Devpost</a></li>
            <li><a class="white-text" href="#!">Github</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="orange-text text-lighten-3"></a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/calculate.js"></script>
  <script>


  function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.

    var input = document.getElementById('autocomplete');
    var options = {
      types: ['(cities)'],
      componentRestrictions: {country: 'us'}
    };

    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        options);
    //autocomplete.value = autocomplete;
/*document.getElementById('autocomplete').value = autocomplete.value;*/
      // When the user selects an address from the dropdown, populate the address
      // fields in the form.

  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  } </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzHGKHl75gHvXEtXiGckmonfP0-00Iwow&libraries=places&callback=initAutocomplete"
      async defer></script>
  </body>
</html>
